In [1]:
# importing necessary files
import pandas as pd
import numpy as np

In [2]:
# importing the tmdb movie dataset
movies=pd.read_csv("tmdb_5000_movies.csv")
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

## Checking the data

In [3]:
movies['production_companies'][0]

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

In [4]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [5]:
movies['tagline'].head(5)

0                       Enter the World of Pandora.
1    At the end of the world, the adventure begins.
2                             A Plan No One Escapes
3                                   The Legend Ends
4              Lost in our world, found in another.
Name: tagline, dtype: object

In [6]:
movies[movies['title']=='Spider-Man 3']['overview'].values

array(['The seemingly invincible Spider-Man goes up against an all-new crop of villain – including the shape-shifting Sandman. While Spider-Man’s superpowers are altered by an alien organism, his alter ego, Peter Parker, deals with nemesis Eddie Brock and also gets caught up in a love triangle.'],
      dtype=object)

In [7]:
# We observed that the attributes which will affect the relation between the movies will be :

'''
1) Title
2) Keywords
3) Genres
4) Production Companies (as many production companies produce many films of same genrec)

'''

'\n1) Title\n2) Keywords\n3) Genres\n4) Production Companies (as many production companies produce many films of same genrec)\n\n'

In [8]:
movies=movies[['id','title','keywords','genres','production_companies']]

In [9]:
movies.head()

,id,title,keywords,genres,production_companies
0,19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""name"": ""Ingenious Film Partners"", ""id"": 289..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""..."
2,206647,Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam..."
3,49026,The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""name"": ""Legendary Pictures"", ""id"": 923}, {""..."
4,49529,John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]"

# Cleaning the data as per our requirements

In [10]:
movies.isnull().sum()

id                      0
title                   0
keywords                0
genres                  0
production_companies    0
dtype: int64

In [11]:
import ast

In [12]:
# making a function to extract the names from the columns keywords, genres and production companies as they are in dictionary format

def convert(obj):
    list=[]
    for i in ast.literal_eval(obj):
        list.append(i['name'])
    return list

In [13]:
movies['genres']=movies['genres'].apply(convert)

In [14]:
movies['keywords']=movies['keywords'].apply(convert)

In [15]:
movies['production_companies']=movies['production_companies'].apply(convert)

In [16]:
movies.head(3)

,id,title,keywords,genres,production_companies
0,19995,Avatar,"[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo..."
1,285,Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","[Walt Disney Pictures, Jerry Bruckheimer Films..."
2,206647,Spectre,"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]","[Columbia Pictures, Danjaq, B24]"

In [17]:
# as we are taking the column title also as the attribute for the relation so we need to convert it into a list to make tags
movies['title2']=movies['title'].apply(lambda x: x.split())

In [18]:
# making a new column in the dataset named as TAGS which will contain all the words from the attribute columns
movies['tags']= movies['title2'] + movies['genres'] + movies['keywords'] + movies['production_companies']

In [19]:
movies.head(3)

,id,title,keywords,genres,production_companies,title2,tags
0,19995,Avatar,"[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",[Avatar],"[Avatar, Action, Adventure, Fantasy, Science F..."
1,285,Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","[Walt Disney Pictures, Jerry Bruckheimer Films...","[Pirates, of, the, Caribbean:, At, World's, End]","[Pirates, of, the, Caribbean:, At, World's, En..."
2,206647,Spectre,"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]","[Columbia Pictures, Danjaq, B24]",[Spectre],"[Spectre, Action, Adventure, Crime, spy, based..."

In [20]:
# making a new dataframe and storing the necessary columns only as now, we don't require the attribute columns
new_df=movies[['id','title','tags']]

In [21]:
new_df.head()

,id,title,tags
0,19995,Avatar,"[Avatar, Action, Adventure, Fantasy, Science F..."
1,285,Pirates of the Caribbean: At World's End,"[Pirates, of, the, Caribbean:, At, World's, En..."
2,206647,Spectre,"[Spectre, Action, Adventure, Crime, spy, based..."
3,49026,The Dark Knight Rises,"[The, Dark, Knight, Rises, Action, Crime, Dram..."
4,49529,John Carter,"[John, Carter, Action, Adventure, Science Fict..."

In [22]:
# converting the columns from List to a paragraph to apply lemmatization on the paragraph to make geniune tags
new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\SAJALD~1\AppData\Local\Temp/ipykernel_2356/4068773593.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))

In [23]:
new_df['tags']=new_df['tags'].apply(lambda x : x.lower())

C:\Users\SAJALD~1\AppData\Local\Temp/ipykernel_2356/3923394162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x : x.lower())

In [24]:
new_df.head(3)

,id,title,tags
0,19995,Avatar,avatar action adventure fantasy science fictio...
1,285,Pirates of the Caribbean: At World's End,pirates of the caribbean: at world's end adven...
2,206647,Spectre,spectre action adventure crime spy based on no...

# Performing Lemmatization on  tags

In [25]:
import nltk

In [26]:
from nltk.stem import WordNetLemmatizer

In [27]:
lemmatizer=WordNetLemmatizer()

In [28]:
def lemma_conv(text):
    list_lemma=[]
    for i in text.split():
        list_lemma.append(lemmatizer.lemmatize(i))
    return " ".join(list_lemma)

In [29]:
new_df['tags']=new_df['tags'].apply(lemma_conv)

C:\Users\SAJALD~1\AppData\Local\Temp/ipykernel_2356/2885540214.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lemma_conv)

In [30]:
new_df.head(3)

,id,title,tags
0,19995,Avatar,avatar action adventure fantasy science fictio...
1,285,Pirates of the Caribbean: At World's End,pirate of the caribbean: at world's end advent...
2,206647,Spectre,spectre action adventure crime spy based on no...

# Performing Text Vectorization on tags

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [32]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [33]:
vector.shape

(4803, 5000)

In [34]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

# Calculating the similarity score between the vectors by cosine similarity

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
similarity=cosine_similarity(vector)

In [37]:
similarity[0]

array([1.        , 0.11590011, 0.05605519, ..., 0.11852177, 0.        ,
       0.14106912])

In [38]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [39]:
recommend("The Fault in Our Stars")

The Longest Ride
Now Is Good
Paper Towns
One Night with the King
Twilight

# Dumping the new_df and the similarity file using pickle for making app in pycharm

In [40]:
import pickle

In [41]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [42]:
pickle.dump(similarity,open('similarity.pkl','wb'))